<main class="main">
  <div class="topControls">
    <div class="pendingStatus" style="align-content: center; margin-right: 1em; padding: 0.3em; border-radius: 0.3em;" [ngClass]="{ pendingStatus: !isConnectedToAudio, connectedStatus: isConnectedToAudio }" @expandCollapse>
      {{ connectionText }}
    </div>
    <div class="pendingStatus" style="flex: 1; align-content: center; padding: 0.5em; border-radius: 0.3em;" *ngIf="isAudioIncoming" @expandCollapse>
      Talking...
    </div>
  </div>
  <div class="logListDiv">
    <div class="logListEntryDiv" *ngFor="let segment of segmentsShowing; trackBy: trackByMessageContent" @expandCollapse>
      <div>
        <div class="timeCell">{{ segment.time }}</div>
      </div>
      <div class="logListEntryDivTopRow">
        <div class="textCell">{{ segment.text }}</div>
      </div>
      <audio [src]="segment.audio" controls></audio>
    </div>
  </div>
</main>
<router-outlet />
